<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
</head>
<body>
    <h1>Welcome to My Flask App!</h1>
<form method="POST" action="/submit">
        <input type="text" name="user_input" placeholder="Enter something..." required>
        <button type="submit">Submit</button>
    </form>

<form method="POST" action="/submit2">
        <input type="text" name="user_value" placeholder="Enter encrypted value..." required>
        <input type="text" name="user_key" placeholder="Enter encryption key..." required>
        <button type="submit">Submit</button>
    </form>

</body>
</html>
